.search {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 300px;
	margin: 0.5rem auto;
}

input {
	font-size: 1rem;
}

input, ul.results {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
}

ul.results {
	position: absolute;
	top: 100%;
	margin-top: 0.25rem;
	width: 100%;
	background: #fff;
	padding: 0;
	overflow: hidden;
}

li.result {
	cursor: pointer;
	text-align: left;
	padding: 0.5rem;
}

li.result:hover {
	background: #fafafa;
}